*.pyc
*~
__pycache__
/.idea
.myenv
myenv/
myenv.bak/
.myvenv
myvenv/
myvenv.bak/
db.sqlite3
/static
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/terminal.xml
.idea/workspace.xml
.idea/djangogirls.iml
.idea/inspectionProfiles/profiles_settings.xml