{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}AskAlex {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Gloria+Hallelujah|Sofia" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand navbar-fixed-top bg-info d-flex flex-row-reverse justify-content-between p-3">
         <div class="navbar justify-content-end" id="navbarSupportedContent">
             <ul class="nav justify-content-end">
                 <li class="nav-item active">
                      <a class="nav-link  text-danger" href="#"> sign in </a>
                 </li>
                  <li class="nav-item  active">
                      <a class="nav-link  text-danger" href="#"> authorize </a>
                 </li>
             </ul>
        </div>

        <form class="form-inline">
            <input class="form-control mr-sm-2 my-2 " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger my-2  my-sm-0 " type="submit"><h4 class="mt-1">Ask!</h4></button>
        </form>
        <a class="navbar-brand text-danger " href="#"><p class="font-weight-bolder mb-0 pb-0 "><h2>AskAlex</h2></p></a>

    </nav>
    <div class="container-fluid mb-5 pb-5 bg-light">
        <div class="row">
            <div class="col-8  d-inline-block mt-4 p-1 ">
                 {% block content %}
                Here is going to be information
                 {% endblock %}
            </div>
            <div class="col-3 offset-md-1 p-1 mx-2 d-flex flex-column justify-content-around">
                <div class="row my-4 p-1 ">
                    <div class="col-12 ">
                        <h1 class="font-italic">Popular tags</h1>
                         <ul class="nav m-0 justify-content-start" type="none">
                        <li class="nav-item">
                            <a class="nav-link active mt-2"  href="#"><p> tag1 </p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mt-2"  href="#"> <p> tag2 </p></a>
                        </li>
                    </ul>

                    </div>
                </div>
                 <div class="row my-4 p-1 ">
                    <div class="col-12 ">
                        <h1 class="font-italic">Best Members</h1>
                        <p>
                            there are going to be best members
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="fixed-bottom p-2 bg-secondary" > Alex Spiridonova </footer>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/bootstrap.bundle.js"></script>
</body>
</html>