{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="row d-flex justify-content-start">
        <div class="col-6 m-0 p-1">
            <h1><p>New Questions</p></h1>
        </div>
        <div class="col-6 my-3 p-1">
            <a href="#">Hot Questions</a>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-start">
            <span class="border border-secondary p-1 m-1 w-75">
                <div class="row d-flex justify-content-start w-100">
                     <div class="col-4 m-0 p-1">
                         <img class="m-3 p-3" width="240" height="240" src="{% static 'img/dsdsda.jpeg' %}" alt="AVATAR">
                     </div>
                    <div class="col-8 mt-5 p-4">
                        <p class="question d-flex justify-content-between text-justify font-weight-light">How am I gonna make it in one day?</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center p-2 m-1">
                    <p> Question </p>
                </div>
                <div class="row d-flex justify-content-start p-2 m-1">
                    <div class="col-4">
                    <div class="btn-group " role="group" aria-label="Basic example">
                        <span class="border border-secondary p-1 w-100"><p class="justify-content-center pt-1">Num</p></span>
                        <button type="button" class="btn btn-danger btn-sm">Dislike</button>
                        <button type="button" class="btn btn-success btn-sm">Like</button>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="row d-flex justify-content-start ">
                            <a class="nav-link active m-0"  href="#"> Answers </a>
                            <span class="border border-secondary p-1"><p class="justify-content-center pt-1">Num</p></span>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-1">
                    <ul class="nav m-0 justify-content-center" type="none">
                        <li>
                            <p class="m-2" > Tags:</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"  href="#"> tag1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"  href="#"> tag2</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </span>
    </div>


    <div class="row d-flex flex-row justify-content-start">
            <span class="border border-secondary p-1 m-1 w-75">
                <div class="row d-flex justify-content-start w-100">
                     <div class="col-4 m-0 p-1">
                         <img class="m-3 p-3" width="240" height="240" src="{% static 'img/a3171cc0f610fdfdf460831fb25a3dc7.jpeg' %}" alt="AVATAR">
                     </div>
                    <div class="col-8 mt-5 p-4">
                        <p class="question d-flex justify-content-between text-justify font-weight-light"> How am I going to keep faith?</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center p-2 m-1">
                    <p> Question </p>
                </div>
                <div class="row d-flex justify-content-start p-2 m-1">
                    <div class="col-4">
                    <div class="btn-group " role="group" aria-label="Basic example">
                        <span class="border border-secondary p-1 w-100"><p class="justify-content-center pt-1">Num</p></span>
                        <button type="button" class="btn btn-danger btn-sm">Dislike</button>
                        <button type="button" class="btn btn-success btn-sm">Like</button>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="row d-flex justify-content-start ">
                            <a class="nav-link active m-0"  href="#"> Answers </a>
                            <span class="border border-secondary p-1"><p class="justify-content-center pt-1">Num</p></span>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-1">
                    <ul class="nav m-0 justify-content-center" type="none">
                        <li>
                            <p class="m-2" > Tags:</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"  href="#"> tag1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"  href="#"> tag2</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </span>
    </div>


    <div class="row d-flex flex-row justify-content-start">
            <span class="border border-secondary p-1 m-1 w-75">
                <div class="row d-flex justify-content-start w-100">
                     <div class="col-4 m-0 p-1">
                         <img class="m-3 p-3" width="240" height="240" src="{% static 'img/qWt7Qs4qsVU.jpg' %}" alt="AVATAR">
                     </div>
                    <div class="col-8 mt-5 p-4">
                        <p class="question d-flex justify-content-between text-justify font-weight-light">How can I go through this?</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center p-2 m-1">
                    <p> Question </p>
                </div>
                <div class="row d-flex justify-content-start p-2 m-1">
                    <div class="col-4">
                    <div class="btn-group " role="group" aria-label="Basic example">
                        <span class="border border-secondary p-1 w-100"><p class="justify-content-center pt-1">Num</p></span>
                        <button type="button" class="btn btn-danger btn-sm">Dislike</button>
                        <button type="button" class="btn btn-success btn-sm">Like</button>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="row d-flex justify-content-start ">
                            <a class="nav-link active m-0"  href="#"> Answers </a>
                            <span class="border border-secondary p-1"><p class="justify-content-center pt-1">Num</p></span>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-1">
                    <ul class="nav m-0 justify-content-center" type="none">
                        <li>
                            <p class="m-2" > Tags:</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"  href="#"> tag1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"  href="#"> tag2</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </span>
    </div>
    <div class="row d-flex flex-row justify-content-start ml--1 mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                 <li class="page-item"><a class="page-link" href="#">1</a></li>
                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
             </ul>
        </nav>
    </div>

</div>
{% endblock %}