{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="row d-flex justify-content-start">
        <div class="col-6 m-0 p-1">
            <h3>New Questions</h3>
        </div>
        <div class="col-6 my-1 p-1">
            <a href="#"><p>Hot Questions</p></a>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-start ">
            <span class="border border-secondary p-1 m-1 w-75 bg-dark rounded-lg ">
                <div class="row d-flex justify-content-start w-100">
                     <div class="col-4 m-0 p-1">
                         <img class=" rounded-circle m-3 p-3" width="240" height="240" src="{% static 'img/dsdsda.jpeg' %}" alt="AVATAR">
                     </div>
                    <div class="col-8 mt-5 p-4">
                          <div class="row d-flex justify-content-center p-2 m-1">
                             <h3 class="d-flex justify-content-between text-justify font-weight-light text-white font-italic">How am I gonna make it in one day?</h3>
                          </div>
                          <div class="row d-flex justify-content-center p-2 m-1">
                             <p class="text-white"> Question </p>
                          </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-start p-2 m-1">
                    <div class="col-4">
                        <div class="row d-flex justify-content-start p-2 m-1">
                        <span class=" col-4 bg-secondary border border-secondary rounded-lg p-1 w-100"><p class="justify-content-center pt-3 text-center text-white">Num</p></span>
                        <button type="button" class=" p-1 col-4 btn btn-danger rounded-lg btn-sm">Dislike</button>
                        <button type="button" class=" p-1 col-4 btn btn-success rounded-lg btn-sm">Like</button>
                        </div>
                    </div>
                    <div class="col-4 pt-2 mt-2">
                        <div class="row d-flex justify-content-start ">
                            <a class="nav-link active mt-2"  href="#"><p> Answers</p> </a>
                            <span class=" col-4 bg-secondary border border-secondary rounded-lg p-1 w-100"><p class="justify-content-center pt-3 text-center text-white">Num</p></span>
                        </div>
                    </div>
                    <div class="col-4 pt-2 mt-2">
                    <ul class="nav m-0 justify-content-center" type="none">
                        <li>
                            <p class="mt-3 text-white" > Tags:</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mt-2"  href="#"><p> tag1 </p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mt-2"  href="#"> <p> tag2 </p></a>
                        </li>
                    </ul>
                    </div>
                </div>
            </span>
    </div>

       <div class="row d-flex flex-row justify-content-start ">
            <span class="border border-secondary p-1 m-1 w-75 bg-dark rounded-lg ">
                <div class="row d-flex justify-content-start w-100">
                     <div class="col-4 m-0 p-1">
                         <img class=" rounded-circle m-3 p-3" width="240" height="240" src="{% static 'img/a3171cc0f610fdfdf460831fb25a3dc7.jpeg' %}" alt="AVATAR">
                     </div>
                    <div class="col-8 mt-5 p-4">
                          <div class="row d-flex justify-content-center p-2 m-1">
                             <h3 class="d-flex justify-content-between text-justify font-weight-light text-white font-italic">How can I keep faith?</h3>
                          </div>
                          <div class="row d-flex justify-content-center p-2 m-1">
                             <p class="text-white"> Question </p>
                          </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-start p-2 m-1">
                    <div class="col-4">
                        <div class="row d-flex justify-content-start p-2 m-1">
                        <span class=" col-4 bg-secondary border border-secondary rounded-lg p-1 w-100"><p class="justify-content-center pt-3 text-center text-white">Num</p></span>
                        <button type="button" class=" p-1 col-4 btn btn-danger rounded-lg btn-sm">Dislike</button>
                        <button type="button" class=" p-1 col-4 btn btn-success rounded-lg btn-sm">Like</button>
                        </div>
                    </div>
                    <div class="col-4 pt-2 mt-2">
                        <div class="row d-flex justify-content-start ">
                            <a class="nav-link active mt-2"  href="#"><p> Answers</p> </a>
                            <span class=" col-4 bg-secondary border border-secondary rounded-lg p-1 w-100"><p class="justify-content-center pt-3 text-center text-white">Num</p></span>
                        </div>
                    </div>
                    <div class="col-4 pt-2 mt-2">
                    <ul class="nav m-0 justify-content-center" type="none">
                        <li>
                            <p class="mt-3 text-white" > Tags:</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mt-2"  href="#"><p> tag1 </p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mt-2"  href="#"> <p> tag2 </p></a>
                        </li>
                    </ul>
                    </div>
                </div>
            </span>
    </div>

    <div class="row d-flex flex-row justify-content-start ">
            <span class="border border-secondary p-1 m-1 w-75 bg-dark rounded-lg ">
                <div class="row d-flex justify-content-start w-100">
                     <div class="col-4 m-0 p-1">
                         <img class=" rounded-circle m-3 p-3" width="240" height="240" src="{% static 'img/qWt7Qs4qsVU.jpg' %}" alt="AVATAR">
                     </div>
                    <div class="col-8 mt-5 p-4">
                          <div class="row d-flex justify-content-center p-2 m-1">
                             <h3 class="d-flex justify-content-between text-justify font-weight-light text-white font-italic">How can I go through this?</h3>
                          </div>
                          <div class="row d-flex justify-content-center p-2 m-1">
                             <p class="text-white"> Question </p>
                          </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-start p-2 m-1">
                    <div class="col-4">
                        <div class="row d-flex justify-content-start p-2 m-1">
                        <span class=" col-4 bg-secondary border border-secondary rounded-lg p-1 w-100"><p class="justify-content-center pt-3 text-center text-white">Num</p></span>
                        <button type="button" class=" p-1 col-4 btn btn-danger rounded-lg btn-sm">Dislike</button>
                        <button type="button" class=" p-1 col-4 btn btn-success rounded-lg btn-sm">Like</button>
                        </div>
                    </div>
                    <div class="col-4 pt-2 mt-2">
                        <div class="row d-flex justify-content-start ">
                            <a class="nav-link active mt-2"  href="#"><p> Answers</p> </a>
                            <span class=" col-4 bg-secondary border border-secondary rounded-lg p-1 w-100"><p class="justify-content-center pt-3 text-center text-white">Num</p></span>
                        </div>
                    </div>
                    <div class="col-4 pt-2 mt-2">
                    <ul class="nav m-0 justify-content-center" type="none">
                        <li>
                            <p class="mt-3 text-white" > Tags:</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mt-2"  href="#"><p> tag1 </p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mt-2"  href="#"> <p> tag2 </p></a>
                        </li>
                    </ul>
                    </div>
                </div>
            </span>
    </div>

    <div class="row d-flex flex-row justify-content-start ml--1 mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                 <li class="page-item"><a class="page-link" href="#">1</a></li>
                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
             </ul>
        </nav>
    </div>

</div>
{% endblock %}