{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    {% block head %}
    <div class="row d-flex justify-content-start">
        <div class="col-6 m-0 p-1">
            <h3>New Questions</h3>
        </div>
        <div class="col-6 my-1 p-1">
            <a href="{% url 'blog:hot' %}"><p>Hot Questions</p></a>
        </div>
    </div>
    {% endblock %}
    {% for question in paginations %}
        {% include "blog/question_templ.html" %}
    {% endfor %}

    {% include "blog/paginator.html" %}

</div>
{% endblock %}