{% extends 'blog/base.html' %}
{% load static %}
{% block title %} AskingAlex {% endblock %}
{% block content %}
<div class="container mt-4">
     {% include "blog/question_templ.html" %}
     {% for answer in paginations %}
        {% include "blog/ask_templ.html" %}
    {% endfor %}
    {% if request.user.is_authenticated %}
    <form class="border border-secondary p-2 mt-2 w-75 rounded-lg bg-secondary"  method="POST"  novalidate>
          {% csrf_token %}
        {% include 'blog/form.html' %}
        <div class="row <div class d-flex justify-content-start">
        <button class="btn btn-danger ml-4  offset-0" type="submit"><h4 class="mt-1">Answer!</h4></button>
        </div>
    </form>
    {% endif %}
     {% include "blog/paginator.html" %}
</div>




{% endblock %}