{% extends 'blog/base.html' %}
{% load static %}
{% block title %} Signup {% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row d-flex justify-content-start">
           <h3 class="ml-3">Sign Up</h3>
    </div>
    <form class="border border-secondary p-2 mt-2 w-75 rounded-lg bg-dark"  method="POST"  novalidate>
        {% csrf_token %}
        {% include 'blog/form.html' %}
         <div class="row <div class d-flex justify-content-start">
        <button class="btn btn-danger ml-4  offset-0" type="submit"><h4 class="mt-1">SignUp!</h4></button>
        </div>
    </form>


</div>


{% endblock %}